*{
    margin: 0;
    padding: 0;
}

.App{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container{
    width: 90%;
    margin: 0 auto;
}

.themeContainer{
    height: 80vh;
}

.light{
    transition:  all .9s;
}

.dark{
    background-color: #19376D;
    transition: all .9s;
}

.dark .bar{
    background-color: #A5D7E8 !important;
    transition: all .9s;
}

.light .bar{
    transition: all .9s;
}

.dark .footer{
    background-color: #576CBC !important;
    color: #fff;
}

